#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.xsc
*.xss
*.suo
*.zip
*.xls
*.xlsx
*.sbr
*.back*
*[Bb]in/
[Bb]in
[Dd]ebug*/
*/csx/*
[Oo]bj/
[Rr]elease*/
packages/*
_ReSharper*/
[Tt]est[Rr]esult*